# /etc/nsswitch.conf generado por Ansible
passwd:         files ldap
group:          files ldap
shadow:         files ldap
hosts:          files dns
services:       files dns
networks:       files
protocols:      files
rpc:            files
ethers:         files
mounts:         files