[sssd]
services = nss, pam
config_file_version = 2
domains = cajacelia

[domain/cajacelia]
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_uri = {{ ldap_uri }}
ldap_search_base = {{ ldap_base }}
ldap_default_bind_dn = {{ ldap_bind_dn }}
ldap_default_authtok = {{ ldap_bind_pw }}
cache_credentials = True

entry_cache_timeout = 600
ldap_tls_reqcert = never
enumerate = false
